html {
  scroll-behavior: smooth;
}

.active {
  display: block;
  background: -webkit-linear-gradient(top, #5cd1b4, #47a5cb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  text-shadow: 0px 0px #00000000;
  -webkit-box-decoration-break: clone;
  -webkit-mask-image: linear-gradient(to bottom, #5cd1b4, #47a5cb);
}

.chakra-portal {
  color: black;
}

html {
  scroll-padding-top: 120px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__current-month {
  color: #344054 !important;
  font-family: 'Inter';
  font-size: 14px !important;
  font-weight: 500;
  line-height: 20px;
}

.react-datepicker__current-month {
  font-size: 16px !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  border-radius: 20px !important;
  color: white !important;
  background: linear-gradient(105deg, #12b9f7 12.57%, #3f71f8 71.15%);
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 40px !important;
  height: 40px !important;
  display: inline-grid;
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
  display: inline-grid !important;
  place-content: center !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--keyboard-selected {
  display: inline-grid !important;
  place-content: center !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: transparent !important;
}

.react-datepicker__header {
  background-color: transparent !important;
  border: none !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-bottom: 12px !important;
}

.react-datepicker__day--outside-month {
  color: #667085 !important;
}

.event-date-picker-cancel-button,
.event-date-picker-select-date-button {
  width: 150px !important;
  height: 40px !important;
  border-radius: 8px !important;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 20px;
}

.event-date-picker-cancel-button {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
  background: #fff !important;
  color: #344054 !important;
  border: 1px solid #d0d5dd;
}

.event-date-picker-select-date-button {
  background: linear-gradient(105deg, #12b9f7 12.57%, #3f71f8 71.15%) !important;
}
